.contact {
    position: relative;
    // background-color: $white;
    padding: 150px 10px 50px 10px;
    z-index: 10;

    &__title {
        text-align: center;

        &::after {
            margin: 20px auto 40px auto;
        }
    }

    &__subtitle {
        margin-bottom: 20px;

    }

    &__descr {
        text-align: center;
        margin-bottom: 20px;
        line-height: 28px;
        font-weight: 500;
        color: $black;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 40px;
        margin-bottom: 50px;

        @media(max-width: $container-media-767) {
            flex-direction: column;
            align-items: stretch;
        }
    }

    &__btn {
        min-width: 200px;
        cursor: pointer;
    }

    &__field {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 3px;
            background-color: $circle;
            display: inline-block;
            transition: .5s width;
        }

        &:focus-within {
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 3px;
                background-color: $circle;
                display: inline-block;
            }
        }

        &_sm {
            flex: 0 0 calc(50% - 20px);
        }

        &_lg {
            flex: 0 0 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__label {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        padding: 0 10px;
        color: $white;

        &_textarea {
            top: 12%;
        }
    }

    &__input {
        width: 100%;
        height: 70px;
        background-color: $input;
        border: none;
        padding: 0 20px;
        color: $white;
        font-size: 16px;

        &:focus {
            outline: none;

            ~label {
                display: none;
            }
        }


    }

    &__textarea {
        width: 100%;
        padding: 20px;
        resize: none;
        background-color: $input;
        color: $white;
        font-size: 16px;
        border: none;

        &:focus {
            outline: none;

            ~label {
                display: none;
            }
        }
    }

    &__mail {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;

        &:hover {
            &>svg path {
                fill: $third-color;
                transition: .2s all;
            }

            ;

            &>.contact__link {
                color: $third-color;
                transition: .2s all;
            }
        }
    }

    &__link {
        font-size: 16px;
        color: $black;
        font-weight: 500;
        line-height: 24px;
        text-decoration: none;
        margin-left: 10px;
    }

    &__send {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        @media(max-width: $container-media-575) {
            flex-direction: column;
        }
    }

    &__privacy {
        display: inline-flex;
        align-items: center;

        @media(max-width: $container-media-575) {
            order: 1;
            margin-bottom: 20px;
        }
    }

    &__submit {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-right: 30px;
        padding: 0 !important;

        @media(max-width: $container-media-767) {
            margin-right: 15px;
        }

        @media(max-width: $container-media-575) {
            order: 2;
            margin-right: unset;
            margin-top: 15px;
        }
    }

    &__submit-input {
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
        padding: 0 20px;
        font-size: 20px;
        color: $black;
        cursor: pointer;

        &:hover {
            color: $white;
        }
    }

    &__notfilled {
        display: block;
        position: absolute;
        top: calc(100% + 5px);
        left: 0;
        color: red;
        font-size: 14px;
        font-weight: 600;
        width: 300px;
    }

    &__notfilled-main {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 90%;
        right: 0;
        color: $white;
        background-color: red;
        font-size: 14px;
        font-weight: 600;
        width: 300px;
        height: 40px;
        text-align: center;
        z-index: 1000;
    }

    &__text {
        position: relative;
        z-index: 10;
    }
}

.lng-privacy {
    color: $black;
    font-weight: 500;
}

.privacy {
    &__input-wrapper {
        position: relative;
        margin-right: 10px;
    }

    &__input {
        display: flex;
        align-items: center;
        justify-content: center;
        appearance: none;
        cursor: pointer;
        width: 40px;
        height: 40px;

        &::before {
            content: '';
            display: inline-block;
            width: 20px;
            height: 20px;
            background-color: transparent;
            border: 1px solid $black;
            border-radius: 3px;
        }

        &:checked {
            &~svg {
                display: inline-block;
            }
        }
    }

    &__link {
        position: relative;
        display: inline-block;
        color: $main-color;
        text-decoration: none;
        font-weight: 600;
        transition: .3s all;

        &:hover {
            color: darken($main-color, 10%);


        }
    }

    svg {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }

    @media(max-width: $container-media-767) {
        font-size: 14px;
    }
}

.wrong {
    border-bottom: 1px solid red;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s;
}