.header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: $white;
    top: 0;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    z-index: 100;
    padding: 10px 60px 10px 50px;
    box-shadow: 0 0 5px 0 $black;

    @media(max-width: $container-media-1239) {
        padding: 10px 10px 10px 10px;
    }

    @media(max-width: $container-media-991) {
        padding: 10px 10px 10px 10px;
    }

    @media(max-width: $container-media-767) {
        padding: 10px 10px 10px 10px;
    }

    @media(max-width: $container-media-575) {
        padding: 10px 10px 10px 10px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    &__links {

        @media(max-width: $container-media-991) {
            display: none;
        }
    }

    &__triggers {
        display: flex;
        align-items: center;
        gap: 20px;
        position: relative;
        z-index: 1;

        @media(max-width: $container-media-575) {
            gap: 50px;
        }
    }

    &__burger {
        display: none;

        @media(max-width: $container-media-991) {
            display: block;
        }
    }


}

.logo {
    @media(max-width: $container-media-575) {
        display: none;
    }

    &__link {
        position: relative;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        padding: 0 20px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: .2s all;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__img {

        width: 24px;
        height: 24px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__name {
        width: max-content;
        font-family: 'Great Vibes', cursive;
        font-size: 42px;
        line-height: 50px;
        font-weight: 900;
        color: $black;

        @media(max-width: $container-media-991) {
            font-size: 24px;
            line-height: 30px;
        }
    }

    &__prof {
        position: relative;
        width: 100%;
        text-align: center;


        span {
            position: relative;
            background-color: $white;
            font-family: 'Bebas Neue', sans-serif;
            font-size: 24px;
            text-transform: lowercase;
            color: $black;
            padding: 0 10px;
            z-index: 100;

            @media(max-width: $container-media-991) {
                font-size: 12px;
            }
        }


    }

    &__line {
        width: 100%;
        height: 2px;
        background-color: $black;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        z-index: 1;
    }
}

.links-header {

    &__list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style-type: none;
        width: 100%;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 60px;

            @media(max-width: $container-media-1239) {
                margin-right: 40px;
            }
        }
    }
}

.link {
    color: $white;
    text-decoration: none;
    font-size: 20px;
    transition: .3s all;

    &_active {
        color: $main-color !important;
    }

    &:hover {
        color: $main-color !important;

        svg g path {
            transition: .3s all;
            fill: $main-color !important;
        }
    }

    &:focus {
        color: $main-color !important;
    }

    @media(max-width: $container-media-575) {
        font-size: 16px;
    }

}

.link-github {
    max-width: 30px;
    max-height: 30px;
}

.lang-selector {
    font-size: 20px;
    text-transform: uppercase;
    background-color: transparent;
    color: $black;
    padding: 5px;
    border: 1px solid $black;
    cursor: pointer;

    @media(max-width: $container-media-575) {
        font-size: 14px;
    }
}

.lang-option {
    color: $white;

}

.github-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    transition: .3s all;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &:hover {
        transform: scale(1.2);
    }

    &_burger {
        svg {
            g {
                path {
                    fill: rgb(255, 255, 255);
                }
            }
        }

        &:hover {
            transition: .2s all;
            transform: scale(1.2);
        }
    }
}

.theme-btn {
    position: relative;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid $white;
    background: $circle;
    transition: .3s all ease;
    cursor: pointer;

    &_dark {
        background: radial-gradient(#000 10%, #0d1221 50%);
    }

    &::before {
        content: url('./assets/icons/Sun.svg');
        width: 35px;
        height: 35px;
        position: absolute;
        top: 2px;
        left: 2px
    }

    &::after {
        content: url('./assets/icons/moon.svg');
        position: absolute;
        top: 5px;
        right: 5px;
    }

    &__trigger {
        width: 32px;
        height: 32px;
        border-radius: 100%;
        background-color: $white;
        position: absolute;
        top: 3px;
        right: 3px;
        transition: .3s all ease;
        transform: translateX(0px);

        &_dark {
            transform: translateX(-40px);
        }
    }
}

.burger {

    &__btn {
        cursor: pointer;

        &_active .burger__line {
            transition: .5s all;

            &:nth-child(1) {
                transform: rotate(45deg) translateY(5px);
            }

            &:nth-child(2) {
                display: none;
            }

            &:nth-child(3) {
                transform: rotate(-45deg) translateY(-5px);
            }
        }
    }

    &__line {
        display: block;
        width: 30px;
        height: 3px;
        background-color: $black;

        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }

    &__menu {
        display: block;
        visibility: hidden;
        width: 50%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        padding: 20px;
        background: linear-gradient(#6c3fd0, #132d9c);
        box-shadow: 0 0 10px 0 $white;
        transition: .3s all;
        transform: translateX(calc(-100% - 50px));

        &_active {
            visibility: visible;
            transform: translateX(0);
            z-index: 100;
        }

        @media(max-width: $container-media-575) {
            width: 100%;
        }
    }
}

.menu {

    &__links {
        height: 100%;
        display: flex;
        justify-content: center;
    }

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 50px;
        list-style-type: none;
        gap: 50px;
    }


    &__link {
        color: $white;
    }

    &__close {
        position: absolute;
        top: 10px;
        right: 20px;
        color: $white;
        font-size: 24px;
        cursor: pointer;
    }
}