.intro {
    position: relative;
    min-height: 100vh;
    // overflow: hidden;
    // padding: 100px 50px 200px 250px;
    
    &__parallax {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        // padding: 100px 50px 200px 250px;
        // padding: 0px 50px 0px 250px;
        @media(max-width: $container-media-1239) {
            // padding: 100px 50px 200px 50px;
            // padding: 0 50px 0 50px;
        }
        @media(max-width: $container-media-575) {
            // padding: 100px 30px 100px 10px;
            // padding: 0 30px 0 10px;
        }
        // overflow: hidden;
    }
    &__wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
        z-index: 10;
        
        // padding-top: 200px;
        @media(max-width: $container-media-575) {
            left: 5%;
        }
    }
    &__bg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 110%;
        height: 110%;
        z-index: 1;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__title {
        position: relative;
        z-index: 10;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        min-height: 300px;
        @media(max-width: $container-media-991) {
            min-height: 240px;
        }
        @media(max-width: $container-media-767) {
            min-height: 180px;
        }
        @media(max-width: $container-media-575) {
            min-height: 135px;
        }
    }

    &__contact {
        margin-top: 100px;
        // @media(max-width: $container-media-575) {
        //     width: 160px !important;
        // }
    }
    &__email {
        position: absolute;
        top: 100%;
        right: 20%;
        transform: rotate(90deg) translateX(34%);
        transform-origin: bottom right;
        @media(max-width: $container-media-575) {
            right: 12%;
            transform: rotate(90deg) translateX(50%);
        }
    }
    &__link {
        display: flex;
        align-items: center;
        color: #fff;
        text-decoration: none;
        transition: .3s all;
        @media(max-width: $container-media-575) {
            font-size: 14px;
        }
        &:hover {
            color: $third-color;
        }
        &::after {
            content: '';
            display: inline-block;
            width: 100px;
            height: 1px;
            background-color: #fff;
            margin-left: 50px;
        }
    }
}

.title-intro {
    &__str {
        
        display: inline-block;
        color: #ffffff;
        font-size: 80px;
        line-height: 100px;
        font-weight: 700;
        @media(max-width: $container-media-1239) {
            font-size: 60px;
            line-height: 80px;
        }
        @media(max-width: $container-media-767) {
            font-size: 40px;
            line-height: 60px;
        }
        @media(max-width: $container-media-575) {
            font-size: 25px;
            line-height: 45px;
        }
    }
    &__letter {
        display: inline-block;
        color: #ffffff;
        font-size: 80px;
        line-height: 100px;
        font-weight: 700;
        @media(max-width: $container-media-1239) {
            font-size: 60px;
            line-height: 80px;
        }
        @media(max-width: $container-media-767) {
            font-size: 40px;
            line-height: 60px;
        }
        @media(max-width: $container-media-575) {
            font-size: 25px;
            line-height: 45px;
        }
        &:hover {
            color: $fourth-color;
            animation: dotTransform 1.5s ease-in;
        }
    }
}
.bg-intro {
    &__item {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    &__img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url('./assets/img/bg.jpg') center center/cover no-repeat;
    }
}

@keyframes dotTransform {
    0% {
        transform: scale3d(1, 1, 1)
    }
    30% {
        transform: scale3d(1.25, .75, 1)
    }
    40% {
        transform: scale3d(.75, 1.25, 1)
    }
    50% {
        transform: scale3d(1.15, 0.85, 1)
    }
    65% {
        transform: scale3d(0.95, 1.05, 1)
    }
    75% {
        transform: scale3d(1.05, 0.95, 1)
    }
    100% {
        transform: scale3d(1, 1, 1)
    }
}
