$main-color: #ffa501;
$sec-color: #f5f5f5;
$third-color: #c17011;
$fourth-color: #0ad4ca;
$bg-back: #e8e4de;
$preload-color: #021615;
$black: #000000;
$white: #ffffff;

$container-1240: 1240px;
$container-992: 992px;
$container-768: 768px;
$container-576: 576px;

$container-media-1239: $container-1240 - 1;
$container-media-991: $container-992 - 1;
$container-media-767: $container-768 - 1;
$container-media-575: $container-576 - 1;
