$main-color: #ffa501;
$sec-color: #f5f5f5;
$third-color: #c17011;
$fourth-color: #0ad4ca;
$bg-back: #e8e4de;
// $preload-color: #021615;
$preload-color: #000000;
$gray: #413d3d;
$black: #000000;
$circle: #ffa501;
// $circle: #07455c;
$input: #07455c;
$white: #ffffff;
$container-1240: 1240px;
$container-992: 960px;
$container-768: 720px;
$container-576: 100%;

$container-media-1239: 1239px;
$container-media-991: 991px;
$container-media-767: 767px;
$container-media-575: 575px;
