@import './components/mixins';
@import './components/variables';
@import './blocks/header';
@import './blocks/intro';
@import './blocks/about';
@import './blocks/skills';
@import './blocks/works';
@import './blocks/contact';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
body {
    background-color: #000;
}

.app {
    position: relative;
    &__container {
        position: relative;
        max-width: $container-1240;
        margin: 0 auto;
        @media(max-width: $container-media-1239) {
            max-width: $container-992;
        }
        @media(max-width: $container-media-991) {
            max-width: $container-768;
        }
        @media(max-width: $container-media-767) {
            max-width: $container-576;
        }
        @media(max-width: $container-media-575) {
            max-width: 100%;
        }
    }
    &__bg {
        position: fixed;
        top: 0;
        left: -0;
        z-index: -1;
        width: 100%;
        height: 100%;
        // background: url('./assets/img/bg-3.jpg') center center/cover no-repeat;
        background-color: rgb(177, 181, 194);
        // img {
        //     width: 110%;
        //     height: 110%;
        //     object-fit: contain;
        // }
    }
}
.content {
    position: relative;
    // transform: translateY(-500px);
    transition: .8s all;
}
.container {
    max-width: $container-1240;
    margin: 0 auto;
}
.preload {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    // background: radial-gradient(darken($fourth-color, 20%), $preload-color );
    background: #000;
    z-index: 1000;
    transition: .8s all;
    &_loaded {
        transform: translateY(-100%);
        visibility: hidden;
    }
    &__loading {
        position: absolute;
        top: 50%;
        left: 49.95%;
        span {
            display: inline-block;
            width: 30px;
            height: 3px;
            background: transparent;
            transition: .5s all;
            position: absolute;
            
            &:nth-child(1) {
                transform: rotate(45deg);
                top: -10px;
                left: 30px;
            }
            &:nth-child(2) {
                transform: rotate(90deg);
                top: 15px;
                left: 40px;
            }
            &:nth-child(3) {
                transform: rotate(135deg);
                top: 40px;
                left: 30px;
            }
            &:nth-child(4) {
                transform: rotate(180deg);
                top: 50px;
                left: 5px;
            }
            &:nth-child(5) {
                transform: rotate(-135deg);
                top: 40px;
                left: -20px;
            }
            &:nth-child(6) {
                transform: rotate(-90deg);
                top: 15px;
                left: -30px;
            }
            &:nth-child(7) {
                transform: rotate(-45deg);
                top: -10px;
                left: -20px;
            }
        }
    }
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 1;
        // animation: logoAnimation 2s ease infinite;
    }
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba($black, .9);
    &_active {
        display: block;
        z-index: 20;
    }
}

.arrow-up {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    position: fixed;
    bottom: 10%;
    right: 2%;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #999;
    z-index: 100;
    transition: .3s all;
    cursor: pointer;
    a {
        display: inline-block;
        width: 20px;
        height: 20px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            
        }
    }
    
    &_active {
        opacity: 1;
    }
}

.btn {
    position: relative;
    display: inline-block;
    padding: 0 20px;
    // width: 220px;
    height: 50px;
    border: 2px solid $white;
    font-size: 20px;
    line-height: 44px;
    color: $white;
    text-decoration: none;
    text-align: center;
    z-index: 10;
    overflow: hidden;
    transition: .4s all;
    @media(max-width: $container-media-767) {
        font-size: 16px;
    }
    &::before {
        content: '';
        transition: .4s width, 1s border-right;
        position: absolute;
        top: 0;
        left: -35px;
        width: 0;
        height: 50px;
        z-index: -1;
        border-top: 48px solid $fourth-color;
        border-right: 35px solid transparent;
    }
    &:hover {
        &:before {
            width: 100%;
            border-right: 0 solid transparent;
            left: 0;
        }
        color: $preload-color;
    }
    &_dark {
        color: $white;
        border: 2px solid $white;
    }
}

.section-title {
    display: block;
    span {
        position: relative;
        font-size: 20px;
        line-height: 48px;
        font-weight: 600;
        text-transform: uppercase;
        color: $white;
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 40px;
            height: 40px;
            // background-color: $main-color;
            background-color: $circle;
            border-radius: 100%;
            z-index: -1;
        }
    }
    
    &::after {
        content: '';
        display: block;
        width: 75px;
        height: 3px;
        // background-color: $white;
        background-color: $circle;
    }
}
.section-subtitle {
    font-size: 20px;
    font-weight: 500;
    color: $white;
    text-align: center;
}

.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: -150%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    box-shadow: 0 0 10px 0 $white;
    width: 300px;
    height: 200px;
    z-index: 1000;
    padding: 20px;
    transition: .3s opacity;
    opacity: 0;
    &_active {
        top: 50%;
        opacity: 1;
    }
    &__msg {
        font-size: 18px;
        color: $black;
        font-weight: 500;
        line-height: 24px;
        text-align: center;
    }
    &__img {
        width: 50px;
        height: 37px;
        margin-bottom: 20px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__close {
        position: absolute;
        top: 10px;
        right: 20px;
        color: $black;
        font-size: 22px;
        font-weight: 800;
        cursor: pointer;
        transition: .3s all;
        &:hover {
            color: red;
        }
    }
}

@keyframes lineAnimation {
    0% {
        // transform: scale3d(1.0, 1.0, 1.0);
        box-shadow: 0 0 5px 0 $main-color;
    }
    50% {
        // transform: scale3d(1.1, 1.1, 1.1);
        box-shadow: 0 0 20px 3px $main-color;
    }
    100% {
        // transform: scale3d(1.0, 1.0, 1.0);
        box-shadow: 0 0 5px 0 $main-color;
    }
}



