@import './components/mixins';
@import './components/variables';
@import './blocks/header';
@import './blocks/intro';
@import './blocks/about';
@import './blocks/skills';
@import './blocks/works';
@import './blocks/contact';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.theme-light {
    color: $white;
}
.theme-dark {
    color: $black;
}

.app {
    position: relative;
    &__container {
        position: relative;
        max-width: 100%;
        margin: 0 auto;
    }
}

.aside-links {
    transition: .3s all ease;
    &__left {
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 50%;
        left: -80px;
        z-index: 10000;
        font-size: 16px;
        transform: rotate(-90deg);
        opacity: 0;
    }
    &__right {
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 50%;
        right: -80px;
        z-index: 10000;
        font-size: 16px;
        transform: rotate(-90deg);
        opacity: 0;
    }
    @media(max-width: 1340px) {
        display: none;
    }
}
.aside__link {
    color: $white;
    text-decoration: none;
    letter-spacing: 3px;
    line-height: 44px;
    transition: .1s all ease;
    &:hover {
        color: $third-color;
    }
}
.content {
    position: relative;
    transition: .8s all;
}
.container {
    max-width: $container-1240;
    margin: 0 auto;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba($white, .9);
    &_active {
        display: block;
        z-index: 20;
    }
}

.arrow-up {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    position: fixed;
    bottom: 10%;
    right: 2%;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #999;
    z-index: 100;
    transition: .3s all;
    cursor: pointer;
    a {
        display: inline-block;
        width: 20px;
        height: 20px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            
        }
    }    
    &_active {
        opacity: 1;
    }
    @media(max-width: 575px) {
        opacity: 0;
    }
}

.btn {
    position: relative;
    display: inline-block;
    padding: 0 20px;
    // width: 220px;
    height: 50px;
    border: 2px solid $black;
    font-size: 20px;
    line-height: 44px;
    color: $black;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    z-index: 10;
    overflow: hidden;
    transition: .4s all;
    background-color: transparent;
    @media(max-width: $container-media-767) {
        font-size: 16px;
    }
    &::before {
        content: '';
        transition: .4s width, 1s border-right;
        position: absolute;
        top: 0;
        left: -35px;
        width: 0;
        height: 50px;
        z-index: -1;
        border-top: 48px solid $fourth-color;
        border-right: 35px solid transparent;
    }
    &:hover {
        &:before {
            width: 100%;
            border-right: 0 solid transparent;
            left: 0;
        }
        color: $preload-color;
    }
    &_dark {
        color: $white;
        border: 2px solid $white;
    }
}

.section-title {
    display: block;
    span {
        position: relative;
        font-size: 20px;
        line-height: 48px;
        font-weight: 600;
        text-transform: uppercase;
        color: $white;
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 40px;
            height: 40px;
            background-color: $circle;
            border-radius: 100%;
            z-index: -1;
        }
    }
    
    &::after {
        content: '';
        display: block;
        width: 75px;
        height: 3px;
        background-color: $circle;
    }
}
.section-subtitle {
    font-size: 20px;
    font-weight: 500;
    color: $white;
    text-align: center;
}

.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: -150%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $black;
    box-shadow: 0 0 10px 0 $black;
    width: 300px;
    height: 200px;
    z-index: 1000;
    padding: 20px;
    transition: .3s opacity;
    opacity: 0;
    &_active {
        top: 50%;
        opacity: 1;
    }
    &__msg {
        font-size: 18px;
        color: $black;
        font-weight: 500;
        line-height: 24px;
        text-align: center;
    }
    &__img {
        width: 50px;
        margin-bottom: 20px;
        &_suc {
            height: 37px;
        }
        &_wrong {
            height: 50px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__close {
        position: absolute;
        top: 10px;
        right: 20px;
        color: $white;
        font-size: 22px;
        font-weight: 800;
        cursor: pointer;
        transition: .3s all;
        &:hover {
            color: red;
        }
    }
}


@keyframes lineAnimation {
    0% {
        box-shadow: 0 0 5px 0 $main-color;
    }
    50% {
        box-shadow: 0 0 20px 3px $main-color;
    }
    100% {
        box-shadow: 0 0 5px 0 $main-color;
    }
}







